<!-- <app-corona-world></app-corona-world> -->
<!-- <app-corona-region></app-corona-region>> -->
<div class="container">
    <div class="corona_world">
        <app-corona-world></app-corona-world>
    </div>
    <div class="corona-region">
        <app-corona-region></app-corona-region>
    </div>
    <div class="map_and_chart">
        <div class="map">
            <app-corona-map></app-corona-map>
        </div>
        <div class="chart" style="padding-top: 50px;">
            <app-corona-chart></app-corona-chart>
        </div>
    </div>
    <div class="region-weather">
        <app-weather></app-weather>
    </div>
</div>